body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkslateblue;
    background-image: linear-gradient(to right, darkslateblue, rgb(85, 152, 240));
    font-family: "Arial";
}

#navbar {
    background-color: rgb(20, 20, 20);
    position: absolute;
    top: 0;
    width: 100%;
    height: fit-content;
}

#navbar a {
    float: right;
    display: block;
    color:cornsilk;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}

#navbar a[id="title"] {
    float: left;
    padding-left: 20px;
    cursor: pointer;
}

#navbar a[id="title"]:hover {
    background-color:rgb(156, 0, 96);
    transition: 0.5s ease-out;
}

#navbar a[id="option"]:hover {
    background-color:green;
    transition: 0.5s ease-out;
}

h1 {
    position: absolute;
    top: 70px;
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.tenor-gif-embed {
    position: relative;
    margin: 200px;
}
